<div class="row justify-content-center">
    <div class="contenedor-imagen">
        <img src="../../assets/img/imagen-contacto.jpg" class="imagen img-fluid" alt="Imagen contacto">
        <div class="texto-imagen">
            <p class="text-center">Atención al cliente</p>
            <p id="p-numero-telefono" class="text-center">89 331 45 00</p>
        </div>
    </div>
</div>
<br>
<hr>
<div class="row">
    <form class="container formulario w-75">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Motivo de contacto</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option id="opt-ninguna">Seleccione el motivo de contacto...</option>
                <option>Incidencia técnica</option>
                <option>Consulta</option>
                <option>Otro</option>
            </select>
        </div>
        <div class="row">
            <div class="form-group col-lg-8">
                <label for="inp-nombre">* Nombre completo</label>
                <input type="text" class="form-control" id="inp-nombre" placeholder="Introduzca su nombre completo"
                    required>
            </div>
            <div class="form-group col-lg-4">
                <label for="inp-email">* Email</label>
                <input type="email" class="form-control" id="inp-email" placeholder="ejemplo@email.com" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-8">
                <label for="inp-tlf">Teléfono</label>
                <input type="tel" class="form-control" id="inp-tlf" placeholder="Introduzca su número de teléfono">
            </div>
            <div class="form-group col-lg-4">
                <label for="inp-nif-nie">* NIF/NIE</label>
                <input type="text" pattern="[0-9]{8}[A-Za-z]{1}" class="form-control" id="inp-nif-nie"
                    aria-describedby="sm-nif-nie" placeholder="Introduzca el número de NIF o NIE" required>
                <small id="sm-nif-nie" class="form-text text-muted">No compartiremos tus datos con
                    nadie.</small>
            </div>
        </div>
        <div class="form-group">
            <label for="inp-asunto">* Asunto</label>
            <input type="text" class="form-control" id="inp-asunto" placeholder="Introduzca el asunto" required>
        </div>
        <div class="form-group">
            <label for="inp-cuerpo-mensaje">* Cuerpo del mensaje</label>
            <textarea class="form-control" id="inp-cuerpo-mensaje" rows="3" required></textarea>
        </div>
        <p id="p-asterisco">Los campos marcados con * son obligatorios.</p>
        <button type="submit" id="btn-enviar" class="btn btn-primary">Enviar</button>
    </form>
</div>