<div class="row justify-content-center">
    <div class="contenedor-imagen">
        <img src="../../assets/img/imagen-nuestros-hoteles.jpg" class="imagen img-fluid" alt="Nuestros hoteles">
        <div class="texto-imagen">
            <p class="text-center">Nuestros hoteles</p>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<div class="row">
    <div class="container div-producto">
        <div class="row">
            <div class="col-lg-3 d-lg-inline d-sm-flex justify-content-sm-center mt-lg-0 mt-sm-5 mb-lg-0 mb-sm-3">
                <img class="img-fluid img-producto" src="../../assets/img/miramar/hoteles/hotel-gran-roca.jpg"
                    alt="Hotel Gran Roca">
            </div>
            <div
                class="col-lg-9 d-lg-inline text-lg-left text-sm-center ml-lg-0 ml-sm-4 mr-lg-0 mr-sm-4 contenido-producto">
                <h2>Hotel Gran Roca</h2>
                <p> Situado en el corazón de la histórica ciudad de Cádiz, el Hotel Gran Roca ofrece una experiencia
                    de lujo junto al mar. Con vistas panorámicas a la Bahía de Cádiz y a pocos pasos de las playas
                    doradas, este hotel combina la elegancia moderna con el encanto tradicional andaluz. Disfrute de
                    nuestras habitaciones exquisitamente decoradas, una gastronomía excepcional en nuestro restaurante
                    de alta cocina y una amplia gama de actividades culturales y de ocio que le permitirán explorar la
                    riqueza histórica y la vibrante vida local de Cádiz.</p>
            </div>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<div class="row">
    <div class="container div-producto">
        <div class="row">
            <div class="col-lg-3 d-lg-none d-sm-flex justify-content-sm-center mt-lg-0 mt-sm-5 mb-lg-0 mb-sm-3">
                <img class="img-fluid img-producto" src="../../assets/img/miramar/hoteles/hotel-mediterraneo.jpg"
                    alt="Hotel Mediterraneo">
            </div>
            <div
                class="col-lg-9 d-lg-inline text-lg-right text-sm-center ml-lg-0 ml-sm-4 mr-lg-0 mr-sm-4 contenido-producto">
                <h2>Hotel Mediterráneo</h2>
                <p>Ubicado en el animado centro de Málaga, el Hotel Mediterráneo es el destino perfecto para quienes
                    buscan una mezcla de cultura, gastronomía y playa. A solo minutos de la emblemática Calle Larios y
                    del puerto, nuestro hotel ofrece una estancia inolvidable con instalaciones modernas y servicio de
                    primera clase. Relájese en nuestro spa de última generación, disfrute de la cocina mediterránea en
                    nuestro restaurante con vistas al mar y explore la rica oferta cultural de Málaga, incluyendo el
                    Museo Picasso y la Alcazaba.</p>
            </div>
            <div class="col-lg-3 d-lg-inline d-sm-none justify-content-sm-center mt-lg-0 mt-sm-5 mb-lg-0 mb-sm-3">
                <img class="img-fluid img-producto" src="../../assets/img/miramar/hoteles/hotel-mediterraneo.jpg"
                    alt="Hotel Mediterraneo">
            </div>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<div class="row">
    <div class="container div-producto">
        <div class="row">
            <div class="col-lg-3 d-lg-inline d-sm-flex justify-content-sm-center mt-lg-0 mt-sm-5 mb-lg-0 mb-sm-3">
                <img class="img-fluid img-producto" src="../../assets/img/miramar/hoteles/hotel-paraiso.jpg"
                    alt="Hotel Paraiso">
            </div>
            <div
                class="col-lg-9 d-lg-inline text-lg-left text-sm-center ml-lg-0 ml-sm-4 mr-lg-0 mr-sm-4 contenido-producto">
                <h2>Hotel Paraíso</h2>
                <p>Enclavado en la vibrante ciudad de Valencia, el Hotel Paraíso es ideal para aquellos que
                    desean sumergirse en la combinación perfecta de historia y modernidad. Situado cerca de la Ciudad de
                    las Artes y las Ciencias y de las soleadas playas del Mediterráneo, nuestro hotel ofrece una
                    experiencia única con cómodas habitaciones y servicios exclusivos. Saboree la auténtica paella
                    valenciana en nuestro restaurante gourmet, disfrute de las vistas espectaculares desde nuestra
                    terraza y participe en las numerosas actividades y festivales que hacen de Valencia un destino
                    inigualable.</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>