<br>
<hr>
<br>
<div class="flex justify-content-center align-items-center h-full">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <p-card header="Inicio de sesión" [style]="{width: '360px'}">
            <div class="field">
                <label for="email">Email</label>
                <input type="text" pInputText formControlName="email" class="w-full" name="email"
                    placeholder="Escribe tu email" />
                <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                    <div *ngIf="email.errors?.['required']">Se requiere un email</div>
                    <div *ngIf="email.errors?.['email']">El email debe ser válido</div>
                </small>
            </div>
            <div class="field">
                <label for="password">Contraseña</label>
                <input type="password" pInputText formControlName="password" class="w-full" name="password"
                    placeholder="Escribe tu contraseña" />
                <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
                    <div *ngIf="password.errors?.['required']">Se requiere una contraseña</div>
                </small>
            </div>
            <p-button label="Iniciar sesión" class="w-full" [disabled]="loginForm.invalid" type="submit"/>
            <div class="mt-2">
                ¿Aún no eres miembro? <a routerLink="/register">Registrar</a>
            </div>
        </p-card>
    </form>
</div>
<br>
<hr>
<br>