<div id="div-principal" class="container">
  <div id="div-cabecera" class="row">
    <header class="container">
      <a *ngIf="!isLoggedIn" routerLink="/login" style="margin-left: 90%; color: white; background-color: cadetblue; border: 1px solid black; padding: 0.5%;">Iniciar sesión</a>
      <a *ngIf="isLoggedIn" routerLink="/inicio" (click)="logOut()" style="margin-left: 90%; color: white; background-color: firebrick; border: 1px solid black; padding: 0.5%;">Cerrar sesión</a>
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a id="a-logo" class="navbar-brand" routerLink="/inicio">
          <img id="logo" src="../assets/img/logo/logo.jpg">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <div id="div-dropdown">
              <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Miramar</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" routerLink="/hoteles">Nuestros hoteles</a>
                  <a class="dropdown-item" routerLink="/habitaciones">Habitaciones</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/reservas">Reservas</a>
                </div>
              </li>
            </div>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ayuda">Ayuda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
  <router-outlet></router-outlet>
  <p-toast />
  <footer class="row">
    <div id="div-iconos" class="container-fluid d-flex justify-content-center">
      <a href="https://www.youtube.com/" target="_blank">
        <img src="../assets/img/iconos/icono-youtube.png" alt="YouTube">
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="../assets/img/iconos/icono-instagram.png" alt="Instagram">
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <img src="../assets/img/iconos/icono-facebook.png" alt="Facebook">
      </a>
    </div>
    <div id="div-copyright" class="container-fluid">
      <p id="p-copyright">Copyright &copy; 2024 Hoteles Miramar</p>
    </div>
  </footer>
</div>