<div class="row justify-content-center">
    <div class="contenedor-imagen">
        <img src="../../assets/img/imagen-ayuda.jpg" class="img-fluid" alt="Responsive image">
        <div class="texto-imagen">Preguntas Frecuentes</div>
    </div>
</div>
<br>
<hr>
<div class="row">
    <div class="accordion" id="acordeon">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-acordeon" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <span class="cruceta"></span>¿Cómo funciona el servicio de habitaciones 24 horas?
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#acordeon">
                <div class="card-body">
                    Nuestro Servicio de Habitaciones de Hoteles Miramar está diseñado para ofrecerle comodidad y
                    conveniencia a cualquier hora del día. Con solo una llamada, puede ordenar desde un menú variado y
                    exquisito, disponible las 24 horas, entregado directamente a su habitación. Nuestro equipo se
                    encarga de preparar y servir sus pedidos con rapidez y atención al detalle, asegurando que disfrute
                    de una experiencia gastronómica de alta calidad sin tener que salir de su espacio personal. Además,
                    nuestro menú está diseñado para satisfacer una amplia gama de gustos y necesidades dietéticas.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-acordeon" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="cruceta"></span>¿Puedo acceder a los servicios del hotel a través de una aplicación
                        móvil?
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse collapsed" aria-labelledby="headingTwo" data-parent="#acordeon">
                <div class="card-body">
                    ¡Sí, por supuesto! En Hoteles Miramar, ofrecemos una aplicación móvil dedicada que le permite
                    acceder a una variedad de servicios del hotel desde la comodidad de su dispositivo móvil. Ya sea que
                    desee realizar reservas en nuestros restaurantes, solicitar servicio de habitaciones, reservar un
                    spa o consultar información sobre actividades locales, nuestra aplicación está diseñada para
                    facilitar su estancia. La aplicación también ofrece funciones adicionales como el check-in y
                    check-out rápido, así como notificaciones sobre eventos especiales y promociones exclusivas.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-acordeon" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="cruceta"></span>¿Ofrecen servicios de planificación de eventos y conferencias?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse collapsed" aria-labelledby="headingThree" data-parent="#acordeon">
                <div class="card-body">
                    Nos enorgullece ofrecer servicios integrales de planificación de eventos y conferencias. Nuestro
                    equipo de expertos está dedicado a comprender las necesidades específicas de su evento y a diseñar
                    soluciones personalizadas para asegurar su éxito. Desde reuniones de negocios hasta bodas y eventos
                    sociales, nuestra consultoría se centra en proporcionarle recomendaciones efectivas y prácticas para
                    una planificación sin complicaciones. Confíe en nosotros para guiarle hacia una experiencia
                    memorable y perfectamente organizada en Hoteles Miramar.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-acordeon" type="button" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <span class="cruceta"></span>¿Ofrecen opciones de financiamiento para estancias prolongadas?
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse collapsed" aria-labelledby="headingFour" data-parent="#acordeon">
                <div class="card-body">
                    Sí, en Hoteles Miramar entendemos que la comodidad y el presupuesto son importantes para estancias
                    prolongadas. Por eso, ofrecemos opciones flexibles de financiamiento para estancias a largo plazo.
                    Trabajamos de cerca con nuestros clientes para diseñar planes de pago que se ajusten a sus
                    necesidades financieras, permitiéndoles disfrutar de nuestros servicios y comodidades sin
                    preocupaciones. Ya sea a través de tarifas reducidas para estancias prolongadas o planes de pago
                    diferido, nuestro objetivo es hacer que su experiencia en Hoteles Miramar sea asequible y
                    placentera.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-acordeon" type="button" data-toggle="collapse"
                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <span class="cruceta"></span>¿Se pueden personalizar las experiencias en el hotel para adaptarse
                        a mis necesidades específicas?
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse collapsed" aria-labelledby="headingFive" data-parent="#acordeon">
                <div class="card-body">
                    Comprendemos que cada huésped tiene necesidades y preferencias únicas. Es por eso que ofrecemos la
                    posibilidad de personalizar su experiencia en Hoteles Miramar para adaptarse específicamente a sus
                    deseos. Desde la configuración de su habitación y preferencias culinarias hasta la organización de
                    actividades y excursiones, trabajamos estrechamente con usted para diseñar una estancia que se
                    alinee perfectamente con sus expectativas. Nuestro enfoque es brindarle no solo comodidad, sino
                    también flexibilidad y control. Con Hoteles Miramar, obtendrá una experiencia adaptada a sus
                    necesidades específicas, garantizando una estancia placentera y personalizada.
                </div>
            </div>
        </div>
    </div>
</div>